<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journal</title>
</head>
<body>
<h1> Resources </h1>
<a href="/add" id="add">Add Resource</a>
<ul>
</ul>
<table>
    <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Delete</th>
    </tr>

    {% for i in all_items %}
    <tr>
        <td class="{{i.name}}">{{i.name}}</td>
        <td>{{i.link}}</td>
        <td>
            <form action="/delResource/{{i.id}}/" method = "post">{% csrf_token %}
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>